<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="moe.xing.rxfilepicker">

    <application>
        <activity
            android:name=".GetFileActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>
</manifest>
